.translate-x-0 {
  --tw-translate-x: -211px;
}
.font-mono {
  font-family: monospace;
}

.vert-bar {
  min-height: 1000px;
  background-color: #65b688;
  transform: translate(84px, 10px);
}
hr {
  margin: 0 !important;
}
.row {
  padding: 12px 16px 8px 9px;
}
