.fa-linkedin-square {
  transform: translate(-65px, 161px);
}
#card:hover {
  box-shadow: hsl(155, 75%, 43%) 10px 10px 25px 0px;
}

.w-96 {
  width: 30rem !important;
}
.h-52 {
  height: 215px;
}
.green {
  color: #65b688;
}
