.header {
  font-family: monospace;
  z-index: 1000;
}

.dropdown-toggle::after {
  display: none !important;
}
.profile {
  background-color: rgb(245 243 255) !important;
}
.dropdown > button {
  border: none !important;
}
