.skele-card {
  border-radius: 2em;
  padding: 4px 3px 0px 8px;
  background-color: rgb(245, 245, 245);
}
.skele-container {
  padding: 8px 75px 0 110px;
}
.skele-image {
  width: 180px;
  height: 206px;
  border-radius: 1.7em;
}
.skele-container .react-loading-skeleton {
  --base-color: #dbd9d9 !important;
  --highlight-color: #ebebeb !important;
}
