body{
    background-color: hsl(283, 48%, 83%);
}

/** styles for header component */
.header{
    background-image: linear-gradient(to right,rgb(84, 17, 129) , rgb(208, 92, 234));
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap:30px;
}
.title{
    flex-basis:20px;
    align-self: center;

}
.user-icon{
    height: 50px;
    width: 50px;
    padding: 0px 40px 0px 40px;
    align-self: center;

}

/** styles for search bar */
.search-bar{
    align-self: center;
    display: flex;
    margin-left: auto;
}
input[type="search"] {
    border: none;
    background: white;
    margin: 0;
    padding: 7px 8px;
    font-size: 18px;
    border: none;
    border-radius:20px;
    width: 300px;
    height: 40px;
}
button[type="submit"] {
    height: 37px;
    width: 19px;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: translate(0px,4px);
    color: #67078e;
}

/** styles for card component*/
#card{
    width: 700px;
    height: 225px;
    border: 1px  #000;
    border-radius: 2em;
    padding: 2px;
    display:flex;
    flex-direction:row;
    gap:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#card:hover{
    box-shadow: hsl(155, 75%, 43%) 10px 10px 25px 0px;
    width: 705px;
    height: 230px;
}
#card > img {
    height: 215px;
    width: 200px;
    float: left;
    border-radius: 2em;
    padding: 5px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;  
    padding: 151px 120px;
}
.cardContainer > div {
    background-color: rgb(255, 255, 255);
}

